<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./public/stylesheets/styles.css">
    <title>Taste of Decor</title>

</head>

<body style="background-image: url(./public/images/back.jpg);" class="text-white">
    <nav class="navbar navbar-dark navbar-expand-sm  fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
                    <li class="nav-item active"><a class="nav-link" href="/aboutus">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="/products">Products</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contactus">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="jumbotron  ">
        <div class="container">
            <div class="row row-header">
                <div class="col-12 col-sm-6">
                    <h1>Taste of Decor</h1>
                    <h5 class="jumbotext text-justify">You design it, we create it</h5>
                </div>
                <div class="col-12 col-sm align-self-center">
                    <img src="./public/images/jumbopic.png" class="img-fluid jumbopic"
                        style="width: 150px;height: 150px;">
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <section>
            <div>
                <div class="ro">
                    <div class="col">
                        <div class="mission">

                            <h1>It all starts with why.</h1>
                            <p class="mission1 text-white">
                                Amazing talent is hard to find. Amazing talent with no culture, time zone or language
                                barrier even harder. We’re here to bridge that gap.
                            </p>
                            <p class="mission2 text-white">
                                We are passionate about creating a calm, inspiring work enviroment that attracts amazing
                                talent. We will help you to find awesome home interior design for your sweet home.
                            </p>

                            <div class="summary  text-dark">
                                <ul>
                                    <li class="summary1 list">
                                        Founded</li>
                                    <li class="summary2 list" style="padding-bottom:30px;">2013
                                    </li>
                                    <li class="summary1 list">
                                        Team Members</li>
                                    <li class="summary2 list" style="padding-bottom:30px;">30
                                    </li>
                                    <li class="summary1 list">
                                        Followers</li>
                                    <li class="summary2 list" style="padding-bottom:30px;">Over 1M
                                    </li>
                                    <li class="summary1 list">
                                        Design Sold</li>
                                    <li class="summary2 list" style="padding-bottom:30px;">155
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="story">
                            <h2>📅 Our Story</h2>
                            <ul>
                                <li class="year list">2013</li>
                                <li class="desc list">
                                    Taste of Decor was founded by a team of 11 members from all over India who are
                                    telented in the field of interior designing.
                                </li>
                                <li class="year list">2015</li>
                                <li class="desc list">
                                    We grew to about 15 team members and work for some of the awesome design. We also
                                    now had clients in other countries.
                                </li>
                                <li class="year list">2017</li>
                                <li class="desc list">
                                    As we require some good web developers, we started hiring again. Our offices
                                    expanded, about 20 team members.
                                </li>
                                <li class="year list">2019</li>
                                <li class="desc list">
                                    We made these design by ourselves as the client require. So, as our followers
                                    increases we need more team members.
                                </li>
                                <li class="year list">2020</li>
                                <li class="desc list">
                                    Today, we work closely with our partners, now we had a team of 30 members.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section>
        <table align="center">
            <tr>
                <th></th>
                <th>2013</th>
                <th>2014</th>
                <th>2015</th>
            </tr>
            <tr bgcolor="#78866B">
                <td>
                    <FONT size="5" color="white">Employees</FONT>
                </td>
                <td>15</td>
                <td>30</td>
                <td>40</td>
            </tr>

            <tr bgcolor="306754">
                <td>
                    <FONT size="5" color="white">Guest Served</FONT>
                </td>
                <td>15000</td>
                <td>45000</td>
                <td>100,000</td>
            </tr>

            <tr bgcolor="827B39">
                <td>
                    <FONT size="5" color="white">Special Events</FONT>
                </td>
                <td>3</td>
                <td>20</td>
                <td>45</td>
            </tr>

            <tr bgcolor="954535">
                <td>
                    <FONT size="5" color="white">Annual Turnover</FONT>
                </td>
                <td>$251,325</td>
                <td>$1,250,375</td>
                <td>~$3,000,000</td>
            </tr>
        </table>
    </section>
    <br>
    <section>
        <div class="container">
            <div class="row">

                <div class="column">
                    <img src="./public/images/team2.jpg" alt="Team :)" style="width:100%;">
                </div>
                <div class="column">
                    <img src="./public/images/team3.jpg" alt="Team :)" style="width:100%;">
                </div>
                <div class="column">
                    <img src="./public/images/team7.jpg" alt="Team :)" style="width:100%;">
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <img src="./public/images/team4.jpg" alt="Team :)" style="width:100%;">
                </div>
                <div class="column">
                    <img src="./public/images/team5.jpg" alt="Team :)" style="width:100%;">
                </div>
                <div class="column">
                    <img src="./public/images/team6.jpg" alt="Team :)" style="width:100%;">
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="row">
            </div>
            <div class="col-4 offset-1 col-sm-2  ">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/aboutus">About Us</a></li>
                    <li><a href="/products">Products</a>
                    <li>
                    <li><a href="/contactus">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-center  ">
            <div class="col-auto">
                <p>© Copyright 2020 Taste of Decor</p>
            </div>
        </div>
    </footer>
    <br />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>
