<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href= "../public/stylesheets/styles.css">
  <title>Taste of Decor</title>
</head>

<body style="background-image: url(../public/images/back.jpg);" class="text-white">
  <nav class="navbar navbar-dark navbar-expand-sm  fixed-top">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="Navbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/aboutus">About Us</a></li>
          <li class="nav-item"><a class="nav-link" href="/products">Products</a></li>
          <li class="nav-item"><a class="nav-link" href="/contactus">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="jumbotron  ">
    <div class="container">
      <div class="row row-header">
        <div class="col-12 col-sm-6">
          <h1>Taste of Decor</h1>
          <h5 class="jumbotext text-justify">You design it, we create it</h5>
        </div>
        <div class="col-12 col-sm align-self-center">
          <img src="../public/images/jumbopic.png" class="img-fluid jumbopic" style="width : 150px; height: 150px">
        </div>
      </div>
    </div>
  </header>

  <div class="container black">
    <div class="row row-content">
      <div class="col">
        <div id="mycarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid carimg " src="../public/images/l1.png" alt="Living Room">
              <div class="carousel-caption  d-md-block">
                <h2>LIVING ROOM</h2>
                <p class=" d-sm-block">
                  We design modern styled living rooms with complete access to all types of furniture models from all
                  around the globe. We often import furniture from places like Italy and France to make your living
                  experience the best there is.
                </p>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid carimg " src="../public/images/k3.jpg" alt="Kitchen">
              <div class="carousel-caption  d-md-block">
                <h2>KITCHEN</h2>
                <p class=" d-sm-block">From the world famous Italian Marble countertops to sparkling stainless
                  steel appliances we have got it all. All you have got to do is get in there, put on your chef's hat
                  and create something absolutely delicious.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid carimg " src="../public/images/wa4.jpg" alt="Bathroom">
              <div class="carousel-caption  d-md-block">
                <h2>BATHROOMS</h2>
                <p class=" d-sm-block">When was the last time you felt that tinge of luxury? Why not feel it each
                  and every single time you enter your own little private space. From gold hinted countertops to humble
                  dark granite weve got you covered from east to west of the spectrum.</p>
              </div>
            </div>
          </div>
          <ol class="carousel-indicators">
            <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
            <li data-target="#mycarousel" data-slide-to="1"></li>
            <li data-target="#mycarousel" data-slide-to="2"></li>
          </ol>
          <a class="carousel-control-prev" href="#mycarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#mycarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
          <button class="btn btn-secondary btn-sm " id="carouselButton">
            Pause/Play
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container ">
    <h2>AWARDS/ACCOLADES</h2>
    <div class="row row-content align-items-center">
      <div class="col col-sm col-md">
        <div class="media">
          <img class="d-flex mr-3 img-thumbnail align-self-center medimg" src="../public/images/award1.jpeg"
            alt="Best Furnishing Comppany of 2020">
          <div class="media-body">
            <h2>Best Furnishing Company of 2020</h2>
            <p class=" d-sm-block">WE are proud to say that we have received the award of the best furnishing
              company of 2020. We achieved such a prestigeous award only because our furniture quality is top-notch and
              our designers are years ahead of their peers.</p>
          </div>
        </div>
      </div>
    </div>
    &nbsp;
    <div class="row row-content align-items-center">
      <div class="col col-sm col-md">
        <div class="media">
          <img class="d-flex ml-3 img-thumbnail align-self-center order-last medimg" src="../public/images/award2.jpg"
            alt="gwh logo">
          <div class="media-body">
            <h2 class="mt-0">Top 3 designer in the worlds top 100 designners</h2>
            <p class=" d-sm-block">We are proud to say that 3 of our beloved designers placed among the top 100 in
              the world in a recent study publication from the Intenational Journal of Interior Design</p>
          </div>
        </div>
      </div>
    </div>
    <h2>COMMENTS OF OUR SATISFIED CUSTOMERS</h2>
    <div class="row row-content align-items-center">
      <div class="col col-sm-3 col-md">
        <div class="media">
          <img class="d-flex mr-3 img-thumbnail align-self-center medimg" src="../public/images/geo.png" alt="George james">
          <div class="media-body">
            <h2>George James</h2>
            <p class=" d-sm-block">I bought my bathroom interiors from this place and I genuinely could not be
              happier. Excellent quality and finish.</p>
          </div>
        </div>
      </div>
    </div>
    &nbsp;
    <div class="row row-content align-items-center">
      <div class="col col-sm col-md">
        <div class="media">
          <img class="d-flex ml-3 img-thumbnail align-self-center order-last medimg" src="../public/images/and.jpeg"
            alt="Andrew Mead">
          <div class="media-body">
            <h2 class="mt-0">Andrew Mead</h2>
            <p class=" d-sm-block">Taste of Decor in my goto place for all my furnishing needs. I have never been
              dissapointed and their products always have amazing quality.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-content align-items-center">
      <div class="col col-sm col-md">
        <div class="media">
          <img class="d-flex mr-3 img-thumbnail align-self-center medimg" src="../public/images/alb.jpeg" alt="Alberto Rodriguez">
          <div class="media-body">
            <h2>Alberto Rodriguez</h2>
            <p class=" d-sm-block">Life is boring without colour. From the moment I walked into this place it
              filled my life with the colour it was missing. From amazing interiors to kind staff members it has it all,
              cant wait to buy a new house just so that I can get Taste of Decor to furnish it!</p>
          </div>
        </div>
      </div>
    </div>
    &nbsp;
    <div class="row row-content align-items-center">
      <div class="col col-sm col-md">
        <div class="media">
          <img class="d-flex ml-3 img-thumbnail align-self-center order-last medimg" src="../public/images/emi.jpeg"
            alt="Emily Sinclair">
          <div class="media-body">
            <h2 class="mt-0">Emily Sinclair</h2>
            <p class=" d-sm-block">I myself am an interior designer and I refer this company to all my clients as
              they are the best in the business. I myself by my furniture from here, their quality is great. i have
              never ever had a complaint</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="row">
      </div>
      <div class="col-4 offset-1 col-sm-2  ">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li><a href="/">Home</a></li>
          <li><a href="/aboutus">About Us</a></li>
          <li><a href="/products">Products</a>
          <li>
          <li><a href="/contactus">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-center  ">
      <div class="col-auto">
        <p>© Copyright 2020 Taste of Decor</p>
      </div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <script src="../public/javascripts/scripts.js"></script>
</body>

</html>
