
.tooltip {
  position: relative;
  display: inline-block;
  width: 20%;


}


.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color:#666;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom:125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s ;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#myInput{
      width:auto;
    }


button{
          width:10%;
 }

a{
   text-decoration: none;
     color: black;
  }

li{
    visibility:hidden;

  }
